@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
   height: 100%;
   color: #FBFBFB;
}

:-webkit-scrollbar {
   width: 8px;
 }

 ::-webkit-scrollbar-track {
   background: #fbfbfb33;
  
 }
 ::-webkit-scrollbar-thumb {
   background: #090361c2;
 }
 
 ::-webkit-scrollbar-thumb:hover {
   background: #050044b2;
 }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=date]::-webkit-calendar-picker-indicator {
   background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
   cursor: pointer;
   filter: invert(1);
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  -webkit-text-fill-color: #FBFBFB;
}


@layer base {
   :root {
     --background: 0 0% 100%;
     --foreground: 20 14.3% 4.1%;
     --card: 0 0% 100%;
     --card-foreground: 20 14.3% 4.1%;
     --popover: 0 0% 100%;
     --popover-foreground: 20 14.3% 4.1%;
     --primary: 24 9.8% 10%;
     --primary-foreground: 60 9.1% 97.8%;
     --secondary: 60 4.8% 95.9%;
     --secondary-foreground: 24 9.8% 10%;
     --muted: 60 4.8% 95.9%;
     --muted-foreground: 25 5.3% 44.7%;
     --accent: 60 4.8% 95.9%;
     --accent-foreground: 24 9.8% 10%;
     --destructive: 0 84.2% 60.2%;
     --destructive-foreground: 60 9.1% 97.8%;
     --border: 20 5.9% 90%;
     --input: 20 5.9% 90%;
     --ring: 20 14.3% 4.1%;
     --chart-1: 12 76% 61%;
     --chart-2: 173 58% 39%;
     --chart-3: 197 37% 24%;
     --chart-4: 43 74% 66%;
     --chart-5: 27 87% 67%;
     --radius: 0.5rem;
   }
   .dark {
     --background: 20 14.3% 4.1%;
     --foreground: 60 9.1% 97.8%;
     --card: 20 14.3% 4.1%;
     --card-foreground: 60 9.1% 97.8%;
     --popover: 20 14.3% 4.1%;
     --popover-foreground: 60 9.1% 97.8%;
     --primary: 60 9.1% 97.8%;
     --primary-foreground: 24 9.8% 10%;
     --secondary: 12 6.5% 15.1%;
     --secondary-foreground: 60 9.1% 97.8%;
     --muted: 12 6.5% 15.1%;
     --muted-foreground: 24 5.4% 63.9%;
     --accent: 12 6.5% 15.1%;
     --accent-foreground: 60 9.1% 97.8%;
     --destructive: 0 62.8% 30.6%;
     --destructive-foreground: 60 9.1% 97.8%;
     --border: 12 6.5% 15.1%;
     --input: 12 6.5% 15.1%;
     --ring: 24 5.7% 82.9%;
     --chart-1: 220 70% 50%;
     --chart-2: 160 60% 45%;
     --chart-3: 30 80% 55%;
     --chart-4: 280 65% 60%;
     --chart-5: 340 75% 55%;
   }
 }


 @layer components {
   .spinner {
     margin: 3.2rem auto 1.6rem;
     width: 50px;
     aspect-ratio: 1;
     border-radius: 50%;
     border: 7px solid rgba(255, 255, 255, 0.562);
     border-right-color: white;
     animation: rotate 1s infinite linear;
   }
 
   .spinner-mini {
     margin: 0;
     width: 20px;
     aspect-ratio: 1;
     border-radius: 50%;
     border: 2px solid white;
     border-right-color: transparent;
     animation: rotate 1s infinite linear;
   }

   .blob{
      background: #230170;
      border-radius: 50%;
      margin: 10px;
      height: 24px;
      width: 24px;

    transform: scale(1);
    animation: pulse 2s infinite;
   }
 
   @keyframes rotate {
     to {
       transform: rotate(1turn);
     }
   }

   @keyframes pulse {
      0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(173, 114, 240, 0.7);
      }
  
      70% {
          transform: scale(1);
          box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.0);
      }
  
      100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.0);
      }
  }
 }

 @layer base {
  * {
    @apply border-border outline-ring/50;
   }
  body {
    @apply bg-background text-foreground;
   }
}

.toast-message {
   background: #513a6b;
   color: #fff;
   font-size: 16px;
   width: 320px;
   padding: 15px;
 }

 @media (max-width: 640px) {
   .toast-message {
     width: 100%; 
     height: 81px;
   }
 }


/* Custom Scrollbar Styling */

 ::-webkit-scrollbar {
   width: 8px; /* Change scrollbar width */
   height: 8px; /* For horizontal scroll */
 }
 
 /* Scrollbar Track */
 ::-webkit-scrollbar-track {
   background: #6512bda9; /* Light gray background */
   border-radius: 10px;
 }
 
 /* Scrollbar Thumb */
 ::-webkit-scrollbar-thumb {
   background: #f0f0f070; /* Blue color */
   border-radius: 10px;
   transition: background 0.3s ease-in-out;
 }
 
 /* Hover Effect */
 ::-webkit-scrollbar-thumb:hover {
   background: #f0f0f0b9; /* Darker blue on hover */
 }


 @layer components {
   .expanseLine::after {
     @apply content-[''] absolute left-0 w-[5px] h-full bg-mango;
   }
 }

 @layer components {
   .incomeLine::after {
     @apply content-[''] absolute left-0 w-[5px] h-full bg-[#FFB627];
   }
 }

 @layer components {
   .custom-height {
     @apply w-full bg-gray-200;
     height: 100%;
   }
 
   /* For medium screens (md) and above */
   @media (min-width: 768px) {
     .custom-height {
       height: calc(100% - 81px);
     }
   }
 }

